.btn{
    padding: 12px 24px;
    border: none;
    border-radius: 14px;
    background-color: var(--btn-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 0 4px 12px rgb(0,0,0,0.15);
    transition: all 0.25s ease;
}

.btn:hover{
    transform: translate3d(25%, 2%, 5px);
}